@charset "utf-8";

body{
  color: #333;
}

table{
  border-collapse: collapse;
  box-sizing: border-box;
}

th,td{
  padding: .5em;
  border: 1px solid #333;
}

/* ========================== */
/* ユーザー新規追加後のメッセージ              */
/* ========================== */
.message{
  width: 250px;
  background: crimson;
  color: #fff;
}

.message > p{
  padding: .5em;
}
